p { margin-bottom: 0.2rem; }
.separator { height: 2px; background-color: black; margin: 6px 0; }
.tbl-price { font-size: 80%; }
.booking-history.table > :not(caption) > *:last-child > * { border-bottom: 0 none; }
.booking-history .book-hist-d-t { width: 210px; }

@media print {
	body { height: 0; overflow: hidden; }
	body * { visibility: hidden; }
	.print-area, .print-area * { visibility: visible; }
	.print-area { position: absolute; left: 0; top: 0; margin: 0; padding: 12px 8px; }
	.container, .container-md, .container-sm { max-width: none; }
	.card { position: static; }
}
