.booking-note { margin-bottom: 10px; }
.booking-note:first-child { margin-top: 16px; border-top: 1px solid #ddd; padding-top: 12px; }
.booking-note .note-text { white-space: break-spaces; }

/* 6.75% opacity of bg color */
.check-in-status-N { background-color: #ffc10720; }
.check-in-status-1 { background-color: #19875430; }
.check-in-status-2 { background-color: #0dcaf020; }
.check-in-status-A { background-color: #dc354520; }

.sel-check-in.check-in-status-N { border: 1px solid var(--bs-warning); }
.sel-check-in.check-in-status-1 { border: 1px solid var(--bs-success); }
.sel-check-in.check-in-status-2 { border: 1px solid var(--bs-info); }
.sel-check-in.check-in-status-A { border: 1px solid var(--bs-danger); }

.ul-check-in li { padding: 4px 15px; cursor: pointer; }
.ul-check-in li.check-in-status-N:hover, .ul-check-in li.check-in-status-N:focus { background-color: #ffc10740; }
.ul-check-in li.check-in-status-1:hover, .ul-check-in li.check-in-status-1:focus { background-color: #19875450; }
.ul-check-in li.check-in-status-2:hover, .ul-check-in li.check-in-status-2:focus { background-color: #0dcaf040; }
.ul-check-in li.check-in-status-A:hover, .ul-check-in li.check-in-status-A:focus { background-color: #dc354540; }

.booking-history.table > :not(caption) > *:last-child > * { border-bottom: 0 none; }
.booking-history .book-hist-d-t { width: 210px; }

@media print {
	body { height: 0; overflow: hidden; }
	body * { visibility: hidden; }
	.booking-action-sec { position: initial; }
	#billing-table, #billing-table * { visibility: visible; }
	#billing-table { position: absolute; left: 0; top: 0; margin: 0; }
	#billing-table th, #billing-table td { padding: 4px 8px; }
	#billing-table .input-group-prepend { display: none; }
	#billing-table select { color: #565656; padding: 0; background-color: initial; border: initial; }
	abbr { text-decoration: none; }
}
